<div class="container content">
    <div class="row"></div>
    <h1>Lista de productos</h1>
</div>
<div class="container content">
    <div class="row"></div>
    <app-productos></app-productos>
</div>