<div class="col-md-3 offset-md-3">

    <h1>Agregar productos manualmente</h1>

    <label for="nombre">Nombre: </label>
    <input type="text" name="name" class="form-control" ngModel required minlength="10" placeholder="Nombre producto." id="name" #name>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

        <div *ngIf="name.errors.required">
            Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
            Name must be at least 10 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
        </div>

    </div>


    <label for="precio">Precio: </label>
    <input type="number" class="form-control" placeholder="Introducir precio" id="price" #price>

    <label for="Desc">Descripción del producto: </label>
    <input type="text" class="form-control" placeholder="Descripción" id="desc" #desc>

    <label for="url">Imagen URL: </label>
    <input type="url" class="form-control" placeholder="Url imagen del producto." #url>



    <button type="submit" (click)="addProduct(name.value, price.value, url.value, desc.value)">Añadir
        producto</button>

    <div class="row">
        <mat-card class=" example-card " *ngFor="let p of productos">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title #name>{{p.name}}</mat-card-title>
                <mat-card-subtitle #price>{{p.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-img" src={{p.url}} alt={{p.name}}>
            <mat-card-content class="card-content">
                <p>
                    {{p.desc}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="submit" (click)="deleteProduct(name) ">Borrar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>